<% layout('./boilerplate.ejs') %>

    <div class="container mb-5 mt-5">

        <div class="card shadow text-center bg-warning">
            <h1 class="card-title mt-3">
                About Us
            </h1>

            <p class="card-text mb-5 mt-3 mx-5">
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
                We are a platform that let's you meet pandits near your area to perform your holy poojas in the
                traditional and ethical way.
            </p>
        </div>

    </div>