<% layout('./boilerplate.ejs') %>

    <style>
        body {
            background-image: url("/pictures/img1.jpg");
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
        }

        .box {
            background-image: linear-gradient(to bottom right, red, yellow);
        }
    </style>

    <div class="container mb-5 mt-5">

        <div class="box card shadow text-center bg-warning">
            <h1 class="card-title mt-3">
                Contact Us
            </h1>

            <p class="card-text mb-5 mt-3 mx-5">


            </p>
        </div>

    </div>