<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

    <!-- styles css -->
    <link rel="stylesheet" href="/stylesheets/styles.css" />


    <title>Home | Puja</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar">
        <div class="nav-center">

            <!--Links-->

            <div>
                <button class="toggle-nav">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="nav-links">
                    <li>
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="/about" class="nav-link">About us</a>
                    </li>
                    <li>
                        <a href="/poojas" class="nav-link">List of Poojas</a>
                    </li>
                </ul>
            </div>

            <!--Logo-->

            <img src="./images/logo-white.svg" class="nav-logo" alt="logo">

            <!--Cart Icon-->

            <div class="toggle-container">
                <button class="toggle-cart">
                    <i class="fa-light fa-fire-flame-curved"></i>
                </button>
                <span class="cart-item-count"></span>
            </div>
        </div>
    </nav>

    <!-- Hero -->

    <section class="hero">
        <div class="hero-container">
            <h1 class="text-slanted">
                Can't find pandits?
            </h1>
            <h4>Welcome! Get your poojas and havan done with our certified pandits in traditional, complete and pure
                ways</h4>
            <a href="#" class="hero-btn">
                Meet now
            </a>
        </div>
    </section>

    <!--Sidebar-->

    <div class="sidebar-overlay">
        <aside class="sidebar">
            <!--Close Button-->
            <button class="sidebar-close">
                <i class="fas fa-times"></i>
            </button>

            <!--links-->
            <ul class="sidebar-links">
                <li>
                    <a href="/" class="sidebar-link">
                        <i class="fas fa-home fa-fw">Home</i>
                    </a>
                </li>
                <li>
                    <a href="" class="sidebar-link">
                        <i class="fas fa-couch fa-fw">About us</i>
                    </a>
                </li>
                <li>
                    <a href="" class="sidebar-link">
                        <i class="fas fa-book fa-fw">List of Poojas</i>
                    </a>
                </li>
            </ul>
        </aside>
    </div>

    <!-- Cart -->
    <div class="cart-overlay">
        <aside class="cart">
            <button class="cart-close">
                <i class="fas fa-times"></i>
            </button>
            <header>
                <h3 class="text-slanted">Your Bag</h3>
            </header>

            <!--Cart Items -->
            <div class="cart-items">
                <!--Cart Items added dynamically-->
            </div>

            <!-- Cart Footer-->
            <footer>
                <h3 class="cart-total text-slanted">
                    Total :
                </h3>
                <button class="cart-checkout btn">Checkout</button>
            </footer>
        </aside>
    </div>

    <!--Featured Products-->
    <section class="section featured">
        <div class="title">
            <h2><span>Featured</span>Products</h2>
        </div>
        <div class="featured-center section-center">
            <h2 class="section-loading">Loading...</h2>

        </div>
        <a href="products.html" class="btn">All Products</a>
    </section>
    <script type="module" src="index.js"></script>
</body>

</html>