<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

    <!-- styles css -->
    <link rel="stylesheet" href="/stylesheets/styles.css" />


    <title>Home | Pooja</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar">
        <div class="nav-center">

            <!--Links-->

            <div>
                <button class="toggle-nav">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="nav-links">
                    <li>
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="/about" class="nav-link">About us</a>
                    </li>
                    <li>
                        <a href="/poojas" class="nav-link">List of Poojas</a>
                    </li>
                </ul>
            </div>

            <!--Logo-->

            <img src="./images/logo-white.svg" class="nav-logo" alt="logo">

            <!--Cart Icon-->

            <div class="toggle-container">
                <a href="/login" class="toggle-cart">
                    Login
                </a>

            </div>
        </div>
    </nav>

    <!-- Hero -->

    <section class="hero">
        <div class="hero-container">
            <h1 class="text-slanted">
                Can't find pandits?
            </h1>
            <h4>Welcome! Get your poojas and havan done with our certified pandits in traditional, complete and pure
                ways</h4>
            <a href="#searchform" class="hero-btn">
                Meet now
            </a>
        </div>
    </section>

    <!--Sidebar-->

    <div class="sidebar-overlay">
        <aside class="sidebar">
            <!--Close Button-->
            <button class="sidebar-close">
                <i class="fas fa-times"></i>
            </button>

            <!--links-->
            <ul class="sidebar-links">
                <li>
                    <a href="/" class="sidebar-link">
                        <i class="fas fa-home fa-fw">Home</i>
                    </a>
                </li>
                <li>
                    <a href="/about" class="sidebar-link">
                        <i class="fas fa-couch fa-fw">About us</i>
                    </a>
                </li>
                <li>
                    <a href="/poojas" class="sidebar-link">
                        <i class="fas fa-book fa-fw">List of Poojas</i>
                    </a>
                </li>
            </ul>
        </aside>
    </div>




    <section id="searchform" class="section featured">
        <div class="title">
            <h2><span>Find</span>Pandits</h2>
        </div>

        <div class="row">
            <div class="col">

                <div class="card mx-5 my-3 text-center" style="background-color: rgb(137, 12, 12);">

                    <form method="POST" action="">
                        <div class="mb-2 mx-5 my-3">
                            <select required class="form-select form-select-lg mb-3 mt-5 mb-5"
                                aria-label=".form-select-lg example">
                                <option selected>--Tell us your City--</option>
                                <option value="">Agra</option>
                                <option value="">Ahmedabad</option>
                                <option value="">Aurangabad</option>
                                <option value="">Bengaluru</option>
                                <option value="">Chennai</option>
                                <option value="">Kolkata</option>
                                <option value="">Delhi</option>
                                <option value="">Hyderabad</option>
                                <option value="">Pune</option>
                                <option value="">Jaipur</option>
                                <option value="">Lucknow</option>
                                <option value="">Bhopal</option>
                                <option value="">Kanpur</option>
                                <option value="">Patna</option>
                                <option value="">Indore</option>
                                <option value="">Kochi</option>
                                <option value="">Nagpur</option>
                                <option value="">Chandigarh</option>
                                <option value="">Ghaziabad</option>
                                <option value="">Rajkot</option>
                                <option value="">Thane</option>
                                <option value="">Vishakapatnam</option>
                                <option value="">Thiruvananthapuram</option>
                                <option value="">Mumbai</option>
                                <option value="">Guwahati</option>
                                <option value="">Vadodara</option>
                                <option value="">Bhubaneswar</option>
                                <option value="">Srinagar</option>
                                <option value="">Meerut</option>
                                <option value="">Nashik</option>
                                <option value="">Varanasi</option>
                                <option value="">Raipur</option>
                                <option value="">Allahabad</option>
                                <option value="">Pimpri-Chinchwad</option>
                                <option value="">Ludhiana</option>
                                <option value="">Faridabad</option>
                                <option value="">Surat</option>
                                <option value="">Gurgaon</option>
                                <option value="">Amritsar</option>
                                <option value="">Ranchi</option>
                                <option value="">Noida</option>
                                <option value="">Jabalpur</option>
                                <option value="">Bareilly</option>
                                <option value="">Kalyan-Dombivli</option>
                                <option value="">Vasai-Virar</option>
                                <option value="">Coimbatore</option>
                                <option value="">Vijayawada</option>
                                <option value="">Navi Mumbai</option>
                                <option value="">Gwalior</option>
                                <option value="">Madurai</option>

                            </select>
                        </div>
                        <div class="mb-2 mx-5 ">
                            <select required class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option selected>--What type of Pooja do you want to perform?--</option>
                                <option value="">Ganapathi Homam</option>
                                <option value="">Seemantham (Baby Shower)</option>
                                <option value="">Wedding (Vivaham)</option>
                                <option value="">Punyaha Vachanam and Nama Karanam</option>
                                <option value="">Anna Prasanam</option>
                                <option value="">Chowla Upanayanam / Thread Ceremony</option>
                                <option value="">Ugra Radha Shanti / 59th Birthday</option>
                                <option value="">Shashti Purti (Shastabya Purti / Shashtiabdha Poorthi / 60th Birthday)
                                </option>
                                <option value="">Vijaya Radha Shanti / 75th Birthday</option>
                                <option value="">Sata Abhishekam / Sathabhishekam / 80th Birthday</option>
                                <option value="">Purna Kanaka Abhishekham</option>
                                <option value="">Rudra Abhishekam</option>
                                <option value="">Navagraha Homam</option>
                                <option value="">Ayushya Homam / Mrityunjaya Homam</option>
                                <option value="">Chandi Homam</option>
                                <option value="">Sudharshana Homam</option>
                                <option value="">Sri Maha Lakshmi Homam Sri Suktha Homam</option>
                                <option value="">Durga Homam / Lakshmi Homam / Saraswati Homam</option>
                                <option value="">Bhagavaty Seva</option>
                                <option value="">Vaasthu Homam / Gruha Pravesh</option>
                                <option value="">Nakshatra Homam</option>
                                <option value="">Satya Narayana Vratham / Satya Narayana Puja</option>
                                <option value="">Ayyappa Puja</option>
                                <option value="">Bhima ratha Shanthi (70th Birthday)</option>
                                <option value="">Bhoomi Pooja</option>
                                <option value="">Kanakabhishekam</option>
                                <option value="">Laskshmi Kubera Pooja</option>

                            </select>
                        </div>

                        <button class="hero-btn px-5 mb-3" type="submit">Find </button>

                    </form>

                </div>

            </div>
        </div>
    </section>
    <script type="module" src="index.js"></script>

    <!-- bootstrap -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>