<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

    <!-- styles css -->
    <link rel="stylesheet" href="/stylesheets/styles.css" />

    <!-- For city dropdown -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>

    <title>Home | Pooja</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar">
        <div class="nav-center">

            <!--Links-->

            <div>
                <button class="toggle-nav">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="nav-links">
                    <li>
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="/about" class="nav-link">About us</a>
                    </li>
                    <li>
                        <a href="/poojas" class="nav-link">List of Poojas</a>
                    </li>
                    <li>
                        <a href="/poojansamagri" class="nav-link">Poojan Samagri</a>
                    </li>
                </ul>
            </div>

            <!--Logo-->

            <!-- <img src="./images/logo-white.svg" class="nav-logo" alt="logo"> -->

            <!--Cart Icon-->

            <div class="toggle-container">
                <a href="/login" class="toggle-cart">
                    Login
                </a>

            </div>
        </div>
    </nav>



    <!-- Hero -->

    <section class="hero">
        <div class="hero-container">
            <div class="container">
                <form action="https://www.google.com/search" method="get" class="d-flex mb-5 mt-3 px-5" role="search">
                    <input style="background-color:transparent; margin-bottom:30px; color:white;"
                        class="form-control me-2" name="q" type="search" placeholder="Search your pandits"
                        aria-label="Search">
                    <button style="background-color: rgb(152, 86, 19);; margin-bottom:30px;" class="btn"
                        type="submit">Search</button>
                </form>
            </div>
            <h1 class="text-slanted">
                Can't find pandits?
            </h1>
            <h4>Welcome! Get your poojas and havan done with our certified pandits in traditional, complete and pure
                ways</h4>
            <a href="#searchform" class="hero-btn">
                Meet now
            </a>
        </div>
    </section>

    <!--Sidebar-->

    <div class="sidebar-overlay">
        <aside class="sidebar">
            <!--Close Button-->
            <button class="sidebar-close">
                <i class="fas fa-times"></i>
            </button>

            <!--links-->
            <ul class="sidebar-links">
                <li>
                    <a href="/" class="sidebar-link">
                        <i class="fas fa-home fa-fw">Home</i>
                    </a>
                </li>
                <li>
                    <a href="/about" class="sidebar-link">
                        <i class="fas fa-couch fa-fw">About us</i>
                    </a>
                </li>
                <li>
                    <a href="/poojas" class="sidebar-link">
                        <i class="fas fa-book fa-fw">List of Poojas</i>
                    </a>
                </li>
            </ul>
        </aside>
    </div>




    <section id="searchform" class="section featured">
        <div class="title">
            <h2><span>Find</span>Pandits</h2>
        </div>

        <div class="row">
            <div class="col">

                <div class="card mx-5 my-3 text-center" style="background-color: rgb(137, 12, 12);">

                    <form method="POST" action="/searchpandits">


                        <div class="mb-2 mx-5 my-3">

                            <select name="city" required class="form-select form-select-lg mb-3 mt-5 mb-5"
                                aria-label=".form-select-lg example">
                                <option value="">--Tell us your City--</option>

                                <% for(let City in Cities){ %>
                                    <option value="<%= Cities[City].name %>">
                                        <%= Cities[City].name %>
                                    </option>
                                    <% }%>

                            </select>
                        </div>



                        <div class="mb-2 mx-5 ">
                            <select name="poojatype" required class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                                <option value="" selected>--What type of Pooja do you want to perform?--</option>
                                <option value="Ganapathi Homam">Ganapathi Homam</option>
                                <option value="Seemantham (Baby Shower)">Seemantham (Baby Shower)</option>
                                <option value="Wedding (Vivaham)">Wedding (Vivaham)</option>
                                <option value="Punyaha Vachanam and Nama Karanam">Punyaha Vachanam and Nama Karanam
                                </option>
                                <option value="Anna Prasanam">Anna Prasanam</option>
                                <option value="Chowla Upanayanam / Thread Ceremony">Chowla Upanayanam / Thread Ceremony
                                </option>
                                <option value="Ugra Radha Shanti / 59th Birthday">Ugra Radha Shanti / 59th Birthday
                                </option>
                                <option value="Shashti Purti (Shastabya Purti / Shashtiabdha Poorthi / 60th Birthday)">
                                    Shashti Purti (Shastabya Purti / Shashtiabdha Poorthi / 60th Birthday)
                                </option>
                                <option value="Vijaya Radha Shanti / 75th Birthday">Vijaya Radha Shanti / 75th Birthday
                                </option>
                                <option value="Sata Abhishekam / Sathabhishekam / 80th Birthday">Sata Abhishekam /
                                    Sathabhishekam / 80th Birthday</option>
                                <option value="Purna Kanaka Abhishekham">Purna Kanaka Abhishekham</option>
                                <option value="Rudra Abhishekam">Rudra Abhishekam</option>
                                <option value="Navagraha Homam">Navagraha Homam</option>
                                <option value="Ayushya Homam / Mrityunjaya Homam">Ayushya Homam / Mrityunjaya Homam
                                </option>
                                <option value="Chandi Homam">Chandi Homam</option>
                                <option value="Sudharshana Homam">Sudharshana Homam</option>
                                <option value="Sri Maha Lakshmi Homam Sri Suktha Homam">Sri Maha Lakshmi Homam Sri
                                    Suktha Homam</option>
                                <option value="Durga Homam / Lakshmi Homam / Saraswati Homam">Durga Homam / Lakshmi
                                    Homam / Saraswati Homam</option>
                                <option value="Bhagavaty Seva">Bhagavaty Seva</option>
                                <option value="Vaasthu Homam / Gruha Pravesh">Vaasthu Homam / Gruha Pravesh</option>
                                <option value="Nakshatra Homam">Nakshatra Homam</option>
                                <option value="Satya Narayana Vratham / Satya Narayana Puja">Satya Narayana Vratham /
                                    Satya Narayana Puja</option>
                                <option value="Ayyappa Puja">Ayyappa Puja</option>
                                <option value="Bhima ratha Shanthi (70th Birthday)">Bhima ratha Shanthi (70th Birthday)
                                </option>
                                <option value="Bhoomi Pooja">Bhoomi Pooja</option>
                                <option value="Kanakabhishekam">Kanakabhishekam</option>
                                <option value="Laskshmi Kubera Pooja">Laskshmi Kubera Pooja</option>

                            </select>
                        </div>

                        <button class="hero-btn px-5 mb-3" type="submit">Find</button>

                    </form>

                </div>

            </div>
        </div>
    </section>


    <script type="module" src="index.js"></script>

    <!-- bootstrap -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>


</body>

</html>