<% layout('./boilerplate.ejs') %>

    <style>
        body {
            background-image: url("/pictures/img1.jpg");
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
        }
    </style>

    <div class="container mb-5 mt-5 ">
        <div class="row">
            <div class="col-8">

                <h1 class="card-title text-center text-white">
                    Login
                </h1>

                <form method="post" action="/login">

                    <div class="mb-3 text-white">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input required name="email" type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3 text-white">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input required name="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>

                    <button type="submit" class="btn btn-success">Login</button>
                </form>

                <div class="mb-3 mt-3">
                    <a class="btn text-info" href="/register">Don't have an account? Register here</a>
                </div>

            </div>
        </div>

    </div>