<% layout('./boilerplate.ejs') %>

    <div class="container mb-5 mt-5 ">
        <div class="row">
            <div class="col-12 text-center">


                <div class="card mt-5 mb-5 text-center">
                    <h1 class="card-title">
                        Login
                    </h1>

                    <p>This is dummy form</p>

                    <form method="post" action="/login">

                        <div class="">
                            <label for="">
                                username
                            </label>
                            <input type="text">
                        </div>

                        <div class="">
                            <label for="">
                                password
                            </label>
                            <input type="password">
                        </div>

                    </form>
                </div>


            </div>
        </div>

    </div>