<nav class="navbar navbar-expand-lg " style="background-color: rgb(255, 119, 0);">
    <div class="container-fluid">
        <a class="navbar-brand mx-5" href="/">PoojaApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/about">About us</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-white" href="/poojas">List of Poojas</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="/api/v1/pandits">Our Pandits</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="/contact">Contact us</a>
                </li>


            </ul>

            <a href="/panditregister" class="btn btn-default text-white">Register as Pandit</a>

            <a style="background-color: rgb(255, 0, 0);" class="btn btn-danger mx-2 px-3 my-1 " href="/login">Login</a>

            <a style="background-color: rgb(255, 0, 0);" class="btn btn-danger mx-2 px-3 my-1 " href="/register">Register</a>

            <!-- Functionality to only display login and register buttons if user not logged-in else show logout button -->
            <%if (!locals.session.loggedin) { %>

                <a href="/panditregister" class="btn btn-default text-white">Register as Pandit</a>

                <a style="background-color: rgb(255, 0, 0);" class="btn btn-danger mx-2 px-3 my-1 " href="/login">Login</a>

                <a style="background-color: rgb(255, 0, 0);" class="btn btn-danger mx-2 px-3 my-1 " href="/register">Register</a>

                <% }
                else{ %>
                    <form action="/logout?_method=DELETE" method="POST">
                        <a style="background-color: rgb(255, 0, 0);" class="btn btn-danger mx-2 px-3 my-1 " href="/login">Logout</a>
                    </form>
                    <%}%>

        </div>
    </div>
</nav>