<% layout('./boilerplate.ejs') %>

    <style>
        body {
            background-image: linear-gradient(to right, red, yellow);
            color: rgb(51, 14, 14);
        }

        .card {
            background-color: rgba(255, 0, 0, 0.204);
        }
    </style>

    <div class="container">


        <% for(let pandit in pandits){ %>

            <div class="card mb-3 mt-5 shadow ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img style="max-height: 200px; max-width: 200px" src="<%=pandits[pandit].image[0].url%>"
                            class="img-fluid rounded-start" alt="Pandit image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title mb-3">
                                <%= pandits[pandit].name %>
                            </h2>
                            <h5>
                                <b>
                                    <%= pandits[pandit].yrOfExp %>
                                </b> Years of Experience
                            </h5>
                            <p>
                                <i>
                                    here comes the poojas specialization
                                </i>
                            </p>

                            <a style="background-image: linear-gradient(to right, rgb(255, 238, 0), rgb(251, 210, 72));"
                                class="btn card-link" href="/api/v1/pandits/viewpandit/<%= pandits[pandit]._id%>">
                                <b>
                                    Connect
                                    👤</b></a>

                        </div>
                    </div>
                </div>
            </div>

            <% } %>

    </div>