<% layout('./boilerplate.ejs') %>

    <style>
        body {
            background-image: url("/pictures/img1.jpg");
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
        }
    </style>

    <div class="container mb-5 mt-5 ">
        <div class="row">
            <div class="col-8">

                <h1 class="card-title text-center text-white">
                    Register as Pandit
                </h1>

                <form method="post" action="/api/v1/auth/pandit/register" enctype="multipart/form-data">

                    <div class="mb-3 text-white">
                        <label for="exampleInput" class="form-label">Name</label>
                        <input placeholder="Your name as in verification document" required name="name" type="text"
                            class="form-control" id="exampleInput" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3 text-white">
                        <label for="formFile" class="form-label ">Please upload your picture</label>
                        <input required name="image" class="form-control" type="file" id="formFile">
                    </div>

                    <div class="mb-3 text-white">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input placeholder="abc@gmail.com" required name="email" type="email" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>


                    <label for="exampleInputEmail1" class="form-label text-white">Contact</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">+91</span>
                        <input required name="contact" type="tel" class="form-control" id="exampleInputEmail1"
                            placeholder="XXXXXXXXXX" aria-label="contact" aria-describedby="basic-addon1">
                    </div>

                    <!-- <div class="mb-3 text-white">
                        <label for="formFile" class="form-label ">Please provide a document
                            for
                            identity verification</label>
                        <input required name="proof" class="form-control" type="file" id="formFile">
                    </div> -->

                    <div class="mb-3 text-white">
                        <label for="formnumber" class="form-label ">Years of experience</label>
                        <input required name="yrOfExp" class="form-control" type="number" id="formnumber">
                    </div>

                    <div class="mb-3 text-white">

                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Select the poojas you
                                        perform
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">

                                        <div class="form-check">
                                            <input value="Ganapathi Homam" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Ganapathi Homam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Seemantham (Baby Shower)" class="form-check-input" id="check1"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check1">Seemantham (Baby
                                                Shower)</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Wedding (Vivaham)" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Wedding (Vivaham)</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Punyaha Vachanam and Nama Karanam" class="form-check-input"
                                                id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Punyaha Vachanam and Nama
                                                Karanam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Chowla Upanayanam / Thread Ceremony" class="form-check-input"
                                                id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Chowla Upanayanam / Thread
                                                Ceremony</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Anna Prasanam" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Anna Prasanam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Ugra Radha Shanti / 59th Birthday" class="form-check-input"
                                                id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Ugra Radha Shanti / 59th
                                                Birthday</label>
                                        </div>
                                        <div class="form-check">
                                            <input
                                                value="Shashti Purti (Shastabya Purti / Shashtiabdha Poorthi / 60th Birthday)"
                                                class="form-check-input" id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Shashti Purti (Shastabya Purti /
                                                Shashtiabdha
                                                Poorthi / 60th Birthday)</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Vijaya Radha Shanti / 75th Birthday" class="form-check-input"
                                                id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Vijaya Radha Shanti / 75th
                                                Birthday</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Sata Abhishekam / Sathabhishekam / 80th Birthday"
                                                class="form-check-input" id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Sata Abhishekam / Sathabhishekam
                                                / 80th
                                                Birthday</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Purna Kanaka Abhishekham" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Purna Kanaka Abhishekham</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Rudra Abhishekam" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Rudra Abhishekam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Navagraha Homam" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Navagraha Homam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Ayushya Homam / Mrityunjaya Homam" class="form-check-input"
                                                id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Ayushya Homam / Mrityunjaya
                                                Homam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Chandi Homam" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Chandi Homam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Sudharshana Homam" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Sudharshana Homam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Sri Maha Lakshmi Homam Sri Suktha Homam"
                                                class="form-check-input" id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Sri Maha Lakshmi Homam Sri
                                                Suktha Homam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Durga Homam / Lakshmi Homam / Saraswati Homam"
                                                class="form-check-input" id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Durga Homam / Lakshmi Homam /
                                                Saraswati
                                                Homam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Bhagavaty Seva" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Bhagavaty Seva</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Vaasthu Homam / Gruha Pravesh" class="form-check-input"
                                                id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Vaasthu Homam / Gruha
                                                Pravesh</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Nakshatra Homam" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Nakshatra Homam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Satya Narayana Vratham / Satya Narayana Puja"
                                                class="form-check-input" id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Satya Narayana Vratham / Satya
                                                Narayana
                                                Puja</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Ayyappa Puja" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Ayyappa Puja</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Bhima ratha Shanthi (70th Birthday)" class="form-check-input"
                                                id="check" type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Bhima ratha Shanthi (70th
                                                Birthday)</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Bhoomi Pooja" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Bhoomi Pooja</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Kanakabhishekam" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Kanakabhishekam</label>
                                        </div>
                                        <div class="form-check">
                                            <input value="Laskshmi Kubera Pooja" class="form-check-input" id="check"
                                                type="checkbox" name="poojas">
                                            <label class="form-check-label" for="check">Laskshmi Kubera Pooja</label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>





                    </div>


                    <div class="mb-3 text-white">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input placeholder="***********" required name="password" type="password" class="form-control"
                            id="exampleInputPassword1">
                    </div>

                    <div class="form-check mb-4">
                        <input required name="role" class="form-check-input" type="checkbox" value="user"
                            id="flexCheckDefault">
                        <label class="form-check-label text-white " for="flexCheckDefault">
                            I agree to the rules and regulations
                        </label>
                    </div>

                    <button type="submit" class="btn btn-success">Register</button>
                </form>
                <div class="mb-3 mt-3">
                    <a class="btn text-info" href="/login">Already have an account? login here</a>
                </div>

            </div>
        </div>

    </div>