<% layout('./boilerplate.ejs') %>

    <style>
        body {
            background-image: url("/pictures/img1.jpg");
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
        }
    </style>

    <div class="container">

        <div class="card">





        </div>

    </div>