<% layout('./boilerplate.ejs') %>

    <style>
        body {

            background-image: linear-gradient(to bottom right, rgb(255, 202, 134), rgb(255, 255, 128));
        }

        .poojaBox {
            background-image: linear-gradient(to bottom right, red, yellow);
        }

        h1 {
            color: rgb(255, 72, 0);
            font-family: 'Times New Roman', Times, serif;
        }
    </style>

    <div class="container">

        <div class="row mt-5 mb-5">



            <div class="mb-3 text-center">
                <h1>List of Poojas</h1>
            </div>

            <% for(let pooja in poojas){ %>

                <div class="col-6">

                    <div class="poojaBox card px-5 py-3 mx-3 my-3">

                        <h4 class="card-title text-white">
                            <%= poojas[pooja] %>
                        </h4>
                        <div class="card-link">
                            <a class="poojaA btn btn-light" href="#">View</a>

                        </div>
                    </div>
                </div>
                <% } %>


        </div>
    </div>