<% layout('./boilerplate.ejs') %>

    <style>
        body {
            background-image: url("/pictures/img1.jpg");
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
        }
    </style>

    <div class="container mb-5 mt-5 ">
        <div class="row">
            <div class="col-8">

                <h1 class="card-title text-center text-white">
                    Register
                </h1>

                <form method="post" action="/api/v1/auth/register">

                    <div class="mb-3 text-white">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input placeholder="Enter your name" required name="name" type="text" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3 text-white">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input placeholder="email@gmail.com" required name="email" type="email" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <label for="exampleInputEmail1" class="form-label text-white">Contact</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">+91</span>
                        <input required name="contact" type="tel" class="form-control" id="exampleInputEmail1"
                            placeholder="XXXXXXXXXX" aria-label="contact" aria-describedby="basic-addon1">
                    </div>

                    <div class="mb-3 text-white">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input placeholder="*************" required name="password" type="password" class="form-control"
                            id="exampleInputPassword1">
                    </div>

                    <div class="form-check mb-4">
                        <input required name="role" class="form-check-input" type="checkbox" value="user"
                            id="flexCheckDefault">
                        <label class="form-check-label text-white " for="flexCheckDefault">
                            I agree to the rules and regulations
                        </label>
                    </div>

                    <button type="submit" class="btn btn-success">Register</button>
                </form>
                <div class="mb-3 mt-3">
                    <a class="btn text-info" href="/login">Already have an account? login here</a>
                </div>

            </div>
        </div>

    </div>